@font-face {
  font-family: 'LEIXO-DEMO'; /* Nombre de la fuente */
  src: url(font/LEIXO-DEMO.ttf); /* Ruta a la fuente */
}

/* catalogo */



/* encustas */
.faq-section {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
  text-align: left;
}

.faq-item h3 {
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  position: relative;
}

.faq-item h3::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
}

.faq-item h3.active::after {
  transform: rotate(180deg);
}

.faq-item p {
  margin-top: 5px;
  font-size: 1rem;
  color: #666;
  display: none;
  transition: opacity 0.3s ease;
}

.faq-item p.active {
  display: block;
  opacity: 1;
}


/*ofertas*/
.special-offers {
  background-color: #f1f1f1;
  padding: 50px 20px;
}

.special-offers h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.offer-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.offer-image {
  max-height: 200px;
  object-fit: cover;
}

.countdown {
  font-size: 1.2rem;
  color: #e74c3c;
  font-weight: bold;
}

.gallery-section {
  padding: 50px 20px;
  background-color: #fff;
}

.gallery-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card{
    margin-top: 140px;
    
  }
  
  .card-img-top {
    margin-top: 100px;
  }
  
  .card-img-top {
    max-height: 260px; /* Establece la altura máxima de la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte de manera adecuada */
    border-bottom: 1px solid #eee; /* Añade una línea inferior */
  }
}

